*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

video{
    height: 800px;
    border-radius: 50px;
    margin: 50px;
}

.buttons button{
    margin-left: 500px;
    margin-right: 500px;
}

